  * {
    font-family: "Pridi", serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.333;
  }

  body {
    border-top: 1.5px solid rgb(197, 183, 183);
    background-color: rgb(255, 255, 255);
    width: 100vw;

  }

  .container {
    display: flex;
    align-items: flex-start;
    width: 100vw;
    height: 100%;
    padding-top: 0;
    margin: 0 auto;
  }

  /* левая колонка */

  .colum-left {
    /* background-color: rgb(30, 30, 96); */
    text-align: left;
    min-height: 100vw;
    border-right: 1.5px solid rgb(197, 183, 183);
    align-items: center;
  }

  /* кнопка поиска */

  .search {
    display: flex;
    margin: 10px;
  }

  .search_form {
    display: flex;
    flex-direction: row-reverse;
    border-radius: 8px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(197, 183, 183);
  }

  /* "Введите запрос" */
  .search_form input::placeholder {
    text-align: start;
    font-weight: bold;
    color: black;
    border-bottom: 1px solid rgb(121, 121, 121);
  }

  /* "Введите запрос" */
  .search_form input:hover {
    color: brown;
  }

  /* Иконка  планеты */
  .search button {
    border: none;
    cursor: pointer;
  }

  .search button:hover {
    transform: scale(125%);
    transition: transform 0.6s;
  }

  .search_world {
    position: relative;
    background-image: url(world-wide-web_1006771.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 25px;
  }

  /* размещение иконки глобуса */
  .search_world {
    flex: content;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
    margin: 10px;
  }

  /* окно "введите запрос" */
  input[type="search"] {
    border: none;
    padding: 10px;
    flex: 1;
    outline: none;
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
  }

  /*  */

  /* левые кнопки */

  .colum-left li {
    list-style-type: none;
  }

  /* вкладки меню */

  .container-menu {
    display: flex;
  }

  label {
    display: inline-block;
    border: 1px solid rgb(197, 183, 183);

    cursor: pointer;
    border-radius: 8px;
    margin-top: 8px;
    will-change: contents;
  }

  /* "tab" вся вкладка обертки, выпадающее меню */
  .tab {
    display: flex;
    position: relative;
    /* position: absolute; */
    /* background-color: aquamarine; */
    flex-direction: column;
    align-items: center;
    will-change: contents;

    z-index: 1;
  }

  /* поведение подсветки выпадающего меню */
  .menu:hover {
    background-color: rgba(254, 0, 220, 0.533);
    border-radius: 5px;
    transform: scale(105%);

    transition: background-color 0.6s, transform 0.5s;
  }

  .menu:active{
    background-color: rgb(194, 172, 215);
    transform: scale(90%);
    transition: background-color 0.1s, transform 0.2s;
  }

  /* блок выпадающего меню */
  .submenu {
    display: none;
    /* border-bottom: 1px solid rgb(121, 121, 121); */
    border-left: 1px solid rgb(121, 121, 121);
    margin-top: 10px;
    margin-left: 20px;
  }

  #project {
    border-bottom: 1px solid rgb(121, 121, 121);
    /* background-color: rgb(255, 255, 255); */
  }

  .tab:hover .submenu {
    display: block;
  }

  .menu {
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
    margin: 10px;
    /* padding: 3px, 3px; */
  }

  .menu a {
    color: black;
    padding: 10px;
  }

  /*  */
  /*  */

  /* загрузить новый файл */

  .file_label {
    display: flex;
    align-items: center;
    width: 200px;
    height: 30px;
    font-size: 12px;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-top: 0;
  }

  .file_label:hover{
    background-color: rgb(216, 216, 216);
    transition: background-color 0.5s;

  }

  .file_icon img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    padding: 5px;
  }

  .new_file {
    margin: 10px;
    padding: 10px;
    margin-bottom: 0;
  }
  .file_form{
    
  }

  img {
    width: 25px;
    height: 25px;
    margin: 10px;
  }

  input[type="file"] {
    display: none;
  }

  /* Все левые кнопки */

  .container-menu ol {
    margin-top: 0;
  }

  .new_label {
    display: flex;
    align-items: center;
    width: 125px;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 2px;
    border: none;
    will-change: contents;
    margin-top: 3px;
  }

  /* плавное поведение "кнопок" */
  .new_label:hover {
    background-color: rgb(216, 216, 216);
    transition: all 0.5s, color 1s;
    transform: scale(1.1);
    transition: background-color 0.5s, transform 0.4s;
  }

  .new_label:active {
    background-color: rgb(194, 172, 215);
    transform: scale(90%);
    transition: background-color 0.1s, transform 0.2s;
  }

  #maps {
    color: black;
  }

  /*  */
  /*  */

  .menu-column {
    display: flex;
    justify-content: flex-start;
  }

  .menu-column ol {
    margin-left: 15px;
    padding: 0;
  }

  /* Шапка */

  .top {
    /* background-color: blueviolet; */
    width: 100%;
  }

  /*  */

  .colum-top {
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid rgb(197, 183, 183);
    padding: 20px;

    /* что упустил */
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;
    /* padding: 10px; */
  }

  .top-left {
    display: flex; 
    align-items: center; 
    gap: 15px; 
    flex: 1; 
    /* background-color: aqua; */
  }

  .top-right {
    justify-content: flex-end;

    display: flex; 
    flex-direction: row;
    align-items: center; 
    gap: 20px; 
    flex: 1; 
    /* background-color: aquamarine; */
    margin-right: 30px;
    margin-left: 23px;
  }

  /* первая кнопка "Назад" */
  .back-button {
    border: 1px solid rgb(197, 183, 183);
    font-size: 16px;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    will-change: contents;
  }

  .back-button:hover {
    background-color: rgb(216, 216, 216);
    transition: all 0.5s, color 1s;
    transform: scale(105%);
    transition: background-color 1s, transform 0.5s;
  }

  .back-button:active {
    background-color: rgb(194, 172, 215);
    transform: scale(90%);
    transition: background-color 0.1s, transform 0.3s;
  }

  .themes {
  }

  .new_label-themes {
    display: flex;
    align-items: center;
    width: 125px;
    height: 30px;
    font-size: 16px;
    margin-top: 0;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 2px;
    border: none;
    /* color: rgba(0, 0, 0, 0.54); */
    filter: opacity(65%);

  }

  .new_label-themes:hover{
    color: black; 
      filter: none;
  }

  .new_label-themes:active{
    transform: scale(0.8);
    transition: transform 0.2s;
  }

  .file_icon {
  }


  .file_icon:hover{
  }






  .right-status input {
    border: none;
    font-size: 14px;
    padding: 8px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
  }

  .right-status input:hover {
    background-color: rgb(240, 240, 240);
  }


  .el-t {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
  }

  .value_status {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid green;
    margin: 0;
    padding: 2px;
    border-radius: 40%;
    color: green;
    height: 15px;
    width: 20px;
    background-color: rgba(0, 255, 0, 0.196);
    cursor: pointer;
  }

  .value_status:hover {
    background-color: rgba(0, 255, 0, 0.425);
  }

  .status {
  }

  .previous-button-togeher {
    display: block;
  }

  .previous-button,
  #button-left,
  #button-right {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(197, 183, 183);
    border-radius: 5px;
    cursor: pointer;
  }

  #button-left:hover {
    background-color: rgb(216, 216, 216);
  }

  #button-right:hover {
    background-color: rgb(216, 216, 216);
  }

  #button-left:active {
    transform: scale(0.9);
    background-color: rgb(194, 172, 215);

  }

  #button-right:active {
    transform: scale(0.9);
    background-color: rgb(194, 172, 215);

  }

  .status-double {
  }

  /* правая сторона TOP */


  /* Доделать иконки */
  .user-avatar{
    display: flex;
  }

  .user-avatar img{
  }

  .avatar{
  }

  .right-st {
  }
  /* End */




  .right-st:active {
    transform: scale(0.9);
  }

  .top-right {
  }


  /* Проверить button-user исходник от "Введите запрос" */
  #button-user{
    background: inherit;
    border: none;
    font-size: 14px;
    padding: 8px;
    cursor: pointer;
    filter: opacity(65%);
    /* will-change: contents; */
    font-size: 18px;
  }

  #button-user:hover {
  filter: none;
  }

  #button-user:active {
    transform: scale(90%);
    transition:  transform 0.2s;
  }

  #status-botton{
    border: 1px solid rgb(197, 183, 183);
    font-size: 14px;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    /* will-change: contents; */
  }

  #status-botton:hover {
    background-color: rgb(216, 216, 216);
    transition: all 0.5s, color 1s;
    /* transform: scale(105%); */
    transition: background-color 0.5s, transform 0.5s;
  }

  #status-botton:active {
    background-color: rgb(194, 172, 215);
    transform: scale(90%);
    transition: background-color 0.1s, transform 0.3s;
  }

  #button-clock{
    border: 1px solid rgb(197, 183, 183);
    font-size: 14px;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    /* will-change: contents; */
  }

  #button-clock:hover {
    background-color: rgb(216, 216, 216);
    transition: all 0.5s, color 1s;
    /* transform: scale(105%); */
    transition: background-color 0.5s, transform 0.5s;
  }

  #button-clock:active {
    background-color: rgb(194, 172, 215);
    transform: scale(90%);
    transition: background-color 0.1s, transform 0.3s;
  }


  .status-user {
    width: 100px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid rgb(197, 183, 183);
    background-color: rgb(255, 255, 255);
  }

  .status-user:hover {
    background-color: rgb(240, 240, 240);
  }

  .clocks {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid rgb(197, 183, 183);
    background-color: rgb(255, 255, 255);
  }
  .clocks:hover {
    background-color: rgb(240, 240, 240);
    /* transform: scale(1.1); */
  }

  /* вся правая сторона колонки (элементы) */

  /*  */
  /*  */
  /* правая колонка */

  /* центр + правая колонка */

  .left-right {
    display: flex;
  }

  .colum-centr {
    /* max-height: fit-content; */
    min-height: 100vh;

    /* background-color: rgb(126, 21, 81); */
    margin: 0;
    flex: 1;

    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }



  .background-img-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

  }
  .background-img {
  min-width: 100%;
  height: auto;
  border-radius: 25px;

  }

  .colum-right {
    width: 200px;
    height: 100vw;
    /* background-color: rgb(126, 113, 27); */
    margin: 0, 10px;
    border-left: 1.5px solid rgb(197, 183, 183);
    padding: 10px 10px;
    
  }

  /* Первые ссылки тела */


  .button-link {
    /* display: flex; */
  }

  .button-link-container {
    /* display: flex; */
    display: inline-flex;
    margin: 20px;
  gap: 20px;

  }
  .link-img{
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
  gap: 5px;
  }

  .link-img:hover{
  color: black;
  }

  .link-left {
  }

  .link-right {
  }

  /* Подвал */

  .container footer {
    position: absolute;
  }

  footer {
    background-color: rgba(23, 104, 105, 0.258);
    border-top: 1.5px solid rgb(197, 183, 183);

    width: 100%;
    height: 50px;
    margin: 0;
    padding: 20px;
    text-align: center;
    /* color: azure; */
    position: absolute;
  }

  #gp {
    margin: 0;
  }

  /* Увеличивает кнопки */
  /* #play {
      margin: 50px;
      width: 300px;
      height: 200px;
      background-color: blueviolet;
      border-radius: 15px;
    }

    #play:hover {
      background-color: rgb(67, 12, 119);
      transform: scale(105%);
      transition: background-color 1s, transform 0.5s;
    }

    #play:active {
      background-color: rgb(194, 172, 215);
      transform: scale(90%);
      transition: background-color 0.1s, transform 0.3s;
    } */
